<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="header-home">
    <h3>Hello <%=user.userName%></h3>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</section>
<section class="main-home">
    <div class="wrapper">
        <section>
            <h2>Our top voted flavors with number of votes</h2>
            <ul class="flavor-list">
                <% for(var i=0; i<top10Flavors.length; i++) {%>
                    <div class="tabling">
                        <li><%= top10Flavors[i].flavorName %></li>
                        <li><%= top10Flavors[i].numVotes %></li>
                    </div>
                    <% } %>
                </ul>
            </section>
            <div class="form-wrapper">
                <h2>Please vote your favorite flavor here</h2>
                <form action="/voting" method="post" class="voting-form">
                    <select name="flavor" id="flavor">
                    <% for(var i=0; i<allFlavors.length; i++) {%>
                    <option value="<%=allFlavors[i].flavorId%>"><%=allFlavors[i].flavorName%></option>
                    <% } %>
                </select>
                <button>Vote</button>
            </form>
        </div>
    </div>
</section>
<section class="add-flavor">
    <h3>Want to suggest a new flavor we didn't think of??</h3>
    <form action="/addflavor" method="post">
        <label for="flavorname">Please add it here*</label>
        <input type="text" id="flavorname" name="flavorname" required>
        <button>Add</button>
    </form>
</section>
</body>
</html>